.recent__transactions{
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
}
.single__transaction{
    width: 100%;
    width: 501px;
    height: 173px;
    padding: 15px;
    border: 1px solid #E9EBF8;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
}
.single__transaction .transaction__header{
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.transaction__header .transaction__header__left{
    display: flex;
    align-items: center;

    justify-content: flex-start;
}
.transaction__header .transaction__header__left img{
    width: 66px;
    height: 66px;
    margin-right: 10px;
}
.transaction__header__left .transaction__info__title{
    color: #141736;
    font-size: 18px;
    font-weight: 600;
}
.transaction__header .transaction__header__left .transaction__info__date{
    color: #A5B3CD;
    font-size: 14px;
    font-weight: 400;
}
.transaction__header .invetment__type{
    font-size: 14px;
    font-weight: 400;
}
.invetment__type span{
    font-weight: 600;
}

.single__transaction .transaction__footer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.transaction__footer .amount__invested{
    font-size: 12px;
    color: #808080;
    font-weight: 400;
}
.transaction__footer .amount__price{
    font-size: 16px;
    font-weight: 600;
}
.transaction__footer button{
    width: 118px;
    height: 45px;
    border-radius: 9px;
    padding: 14px 18px 14px 18px;
    border: 1px solid #6699CC;
    font-weight: 500;
    font-size: 14px;
    background-color: #6699cc33;
cursor: pointer;
}


<<<<<<< HEAD
        
/* responsivness */
@media screen and (max-width:1385px) {
    .recent__transactions{
        width: 90vw;
        /* flex-direction: column; */
        align-items: flex-start;
        justify-content: flex-start;
        padding: 0;
    }
    .single__transaction{
        width: 48%;
        margin: 8px auto;
        align-items: flex-start;
        justify-content: flex-start;
        margin-left: -10px;
    }
    .single__transaction .transaction__header{
        width: 90%;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }
       .transaction__footer{
        width: 100%;
       }
    }

/* responsivness */
@media screen and (max-width:931px) {
    .recent__transactions{
        width: 90vw;
        /* flex-direction: column; */
        align-items: flex-start;
        justify-content: flex-start;
        padding: 0;
    }
    .single__transaction{
        width: 380px;
        margin: 8px auto;
        align-items: flex-start;
        justify-content: flex-start;
        margin-left: -10px;
    }
    .single__transaction .transaction__header{
        width: 90%;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }
       .transaction__footer{
        width: 100%;
       }
    }
/* responsivness */
@media screen and (max-width:804px) {
    .recent__transactions{
        width: 90vw;
        /* flex-direction: column; */
        align-items: flex-start;
        justify-content: flex-start;
        padding: 0;
    }
    .single__transaction{
        width: 95%;
        margin: 5px auto;
        align-items: flex-start;
        justify-content: flex-start;
        margin-left: -10px;
    }
    .single__transaction .transaction__header{
        width: 90%;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }
       .transaction__footer{
        width: 100%;
       }
    }
/* responsivness */
@media screen and (max-width:912px) {
=======
    
/* responsivness */
@media screen and (max-width:600px) {
>>>>>>> 8cae38f7efc1378a82e84feae3e0199a777dfe0a
.recent__transactions{
    width: 90vw;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0;
}
.single__transaction{
<<<<<<< HEAD
    width: 95%;
=======
    width: 325px;
>>>>>>> 8cae38f7efc1378a82e84feae3e0199a777dfe0a
    margin: 5px auto;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: -10px;
}
.single__transaction .transaction__header{
    width: 90%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
   .transaction__footer{
    width: 100%;
   }
}