.profile__growth__cards{
    width: 94%;
    margin: 10px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.profile__growth__cards .single__profile__growth__card{
    width: 48%;
    margin: 10px;
    border: 1px solid rgba(233, 235, 248, 1);
    padding: 20px;
    border-radius: 12px;
    background-color: #fff;
}
.proifle__growth__header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.single__profile__growth__card .line
{
    width: 100%;
    height: 0.5px;
    background-color: rgba(0, 0, 0, 0.13);
    margin: 20px 0;
}
.proifle__growth__header img{
    width: 80px;
    height: 80px;
margin-right: 15px;
}
.proifle__growth__header p{
    color: rgba(0, 0, 0, 1);
    font-size: 20px;
    font-weight: 600;
}
.proifle__growth__header span{
    color: rgba(128, 128, 128, 1);
    font-size: 16px;
}
.proifle__growth__footer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.proifle__growth__footer .invest__card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.proifle__growth__footer span{
    color: rgba(128, 128, 128, 1);
    font-size: 12px;

}
.proifle__growth__footer p{
    color: rgba(0, 0, 0, 1);
    font-size: 20px;
    font-weight: 600;
}

@media screen and (max-width:1370px) {
    .profile__growth__cards .single__profile__growth__card{
    width: 47%;
    }
    }
    @media screen and (max-width:709px) {
        .profile__growth__cards .single__profile__growth__card{
        width: 100%;
        }
        }