.manage__cards{
    width: 93%;
    margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.manage__cards .single__card{
    border: 1px solid #E9EBF8;
    width: 340px;
    border-radius: 15px;
    padding: 17px 30px 12px 20px;
    background-color: #fff;
}
.single__card .single__card__header{
    display: flex;
    align-items: center;
} 
.single__card .single__card__header img{
    width: 26px;
    height: 26px;
    border-radius: 50%;
    margin-right: 5px;
}
.single__card .single__card__header p{
    font-size: 16px;
    font-weight: 400;
}
.single__card .single__card__footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

.single__card__footer p{
    font-size: 28px;
}
.single__card span{
    color: #22C55E;
    font-size: 14px;
    margin-left: 10px;

}
.single__card .single__card__footer .trending__status{
    display: flex;
    align-items: center;
}


  
/* responsive */
@media screen and (max-width:1400px) {
    .manage__cards .single__card{
      width: 33%;
    }
  
  }
/* responsive */
@media screen and (max-width:609px) {
    .manage__cards .single__card{
      width: 100%;
    }
  
  }
/* responsiveness */
@media screen and (max-width:600px) {
   .manage__cards .single__card{
        margin: 10px 0;
    }
    }

    /* responsiveness */
@media screen and (max-width:460px) {
   .manage__cards .single__card{
        margin: 10px 0;
        width: 100%;
    }
    }