.founders{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 20px 0;
}
.founders .single__founder{
    width: 335px;
    height: 150px;
    border-radius: 12px;
    border: 1px solid #E9EBF8;
    padding: 14px 15px 14px 15px;
<<<<<<< HEAD
    margin: 10px 0;
=======
>>>>>>> 8cae38f7efc1378a82e84feae3e0199a777dfe0a
   
}
.single__founder .founder__header{
    width: 100%;
display: flex;
align-items: center;
justify-content: flex-start;
}
.founder__header img{
    width: 54px;
    height: 54px;
    margin-right: 13px;
}
.founder__header .title{
    font-size: 18px;
    font-weight: 500;
}
.founder__header .status{
    color: #808080;
    font-size: 12px;
    font-weight: 400;
}
.single__founder .desc{
    font-size: 12px;
    font-weight: 400;
    color: #000000B2;
    margin-top: 10px;
}
/* responsive */
@media screen and (max-width:600px) {
.founders{
    flex-direction: column;
}
.single__founder{
    margin: 7px 0;
}
}