.role__page{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.role__page .role__left{
    flex-basis: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.role__select h2{
    font-size: 36px;
    font-weight: 600;
    line-height: 43.57px;
}
.role__select{
    height: 535px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.role__select .select__section{
   margin-top: auto;
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   
}
 .select__section label{
    text-decoration: none;
    background-color: #6699cc3b;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 20px 20px 20px 28px;
    border-radius: 12px;
  border: 1px solid dodgerblue;
  margin: 20px 0;
  cursor: pointer;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.select__section label a{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.select__section label a span{
    width: 100%;
    text-align: center;
}

.select__section label a{
    text-align: center;
    width: 100%;
    color: #000;
  text-decoration: none;
}
.role__select p{
    font-size: 19px;
    color: #808080;
}
.role__page .role__right{
    flex-basis: 50%;
    background-color: #DEF2FC;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.role__page .role__right img{
    width: 500px;
    height: 500px;
}


/* 890 */
@media screen and (max-width:890px) {
    .role__page{
        flex-direction: column;
    }
    .role__select h2{
        font-size: 32px;
      margin-left: 20px;
       margin-top: 40px;
    }
    .role__select p{
      margin-left: 20px;

    }
    .role__left{
        width: 100%;
    }
     .select__section label{
       width: 100%;
        display: flex;
        align-items: center;
        margin-right: 10px;
        margin: 15px 0;
    }
    .role__right img{
        display: none;
    }
    
}

@media screen and (max-width:600px) {
    .role__page{
        flex-direction: column;
    }
    .role__select h2{
        font-size: 32px;
      margin-left: 20px;
       margin-top: 40px;
    }
    .role__select p{
      margin-left: 20px;

    }
    .role__left{
        width: 92%;
    }
     .select__section label{
       width: 85%;
        display: flex;
        align-items: center;
        margin-right: 10px;
        margin: 15px 0;
    }
    .role__right img{
        display: none;
    }
    
}