.risk__page{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
width: 100vw;
height: 100vh;

}
.risk__page img{
    width: 500px;
    height: 500px;
    margin-bottom: 10px;
    margin-top: 30px;
}
.risk__page h2{
    font-size: 600;
    font-size: 36px;
}
.risk__page p{
    width: 47%;
    text-align: center;
    color: #808080;
    font-size: 20px;
}
.risk__page .btns{
    margin: 30px 0;
    margin-bottom: 40px;
}
.risk__page .btns a{
    border: 2px solid #6699CC;
    outline: none;
    width: 137px;
    border-radius: 12px;
    padding:  13px 30px;
    margin: 20px;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    text-align: center;
}
.btns .skip{
    color: #6699CC;
}
.btns .start{
    background-color: #6699CC;
    color: #fff;
}
/* responsiveness */
/* responsiveness */
@media screen and (max-width:600px) {
    .risk__page{
        justify-content: center;
        height: 100vh;
        overflow: hidden;
        /* margin-top: -100px; */
    }
 .risk__page img{
    width: 400px;
 }
 .risk__page h2{
    width: 100%;
    font-size: 32px;
    font-weight: 500;
    /* margin-top: -120px; */
    text-align: center;
 }
 .risk__page p{
    width: 90%;
    font-size: 15px;
 }
 .risk__page .btns{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 88vw;
    margin: auto;
    margin-top: 10px;
 }
 .risk__page .btns a{
width: 100%;
margin: 10px auto;
 }
 .go__ahead__btn{
    padding: 5px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
 }
}