.portfolio__details__page{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  background-color: #f9f9f9;

}
.portfolio__details__page .contents{
    flex-basis: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.portfolio__details__page .contents__wrapper{
    width: 94%;
    margin: 30px auto;
    background-color: #fff;
    padding: 15px 20px;
    border-radius: 12px;
}
.portfolio__details__page .contents__wrapper .portfolio__info{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 30px 0;
}
.contents__wrapper .portfolio__info img{
    width: 80px;
    height: 80px;
    margin-right: 10px;
}
.portfolio__info p{
    color: rgba(0, 0, 0, 1);
    font-size: 20px;
    font-weight: 600;
}
.portfolio__info span{
    color: rgba(128, 128, 128, 1);
    font-size: 16px;
}
.portfolio__details__page .contents__wrapper p{
    color: rgba(128, 128, 128, 1);
    font-size: 14px;
}
.contents__wrapper .invest__summary{
    margin: 40px 0;
    width: 100%;
 
}
.invest__summary .intest__summary__wrapper{
    width: 90%;
    margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
}
.invest__summary div span{
    font-size: 14px;
color: rgba(128, 128, 128, 1);
}
.invest__summary div .summary__val{
    font-size: 20px;
    font-weight: 600;
color: rgba(0, 0, 0, 1);
}

@media screen and (max-width:430px) {
    .invest__summary .intest__summary__wrapper{flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    width: 100%;
    }
    .intest__summary__wrapper div{
        margin: 10px 0;
    }
}