.sidebar{
    flex-basis: 20%;
    background-color: #6699CC;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.sidebar .upper__sidebar, .sidebar .lower__sidebar{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.upper__sidebar h2{
    margin: 50px 0;
    font-size: 42px;
    color: #fff;
    text-align: center;
}
.sidebar .menu__items{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.menu__items .single__item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding: 15px 35px;
    color: #fff;
}
.single__item span{
    margin-left: 10px;
    font-size: 18px;
    font-weight: 400;
}
.single__item.active span{
    font-weight: 500;
}
.single__item.active{
    background-color: #fff;
    color: #6699CC;
}
.single__item:hover{
    cursor: pointer;
}
.sidebar .lower__sidebar{
    margin-bottom: 40px;
}