.signin__page{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.signin__left{
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.signin__left__header{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: -50px;
    margin-bottom: 50px;
}
.signin__left .signin__left__header h2{
    font-size: 36px;
    color: rgba(0, 0, 0, 1);
    font-weight: 600;
}
.signin__left .signin__left__header p{
    color: rgba(128, 128, 128, 1);
    font-size: 16px;
    margin-top: -20px;
}
.single__login__input{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 20px 0;
    width: 451px;

}
.single__login__input input{
    width: 100%;
    background-color: #fff;
    padding: 20px;
    border: none;
    outline: none;
    border-radius: 12px;
}
.login__form{
    width: 400px;
}
.signin__left .login__form .login__btn{
    display: block;
    width: 100%;
    background-color: rgba(102, 153, 204, 1);
    color: #fff;
    border-radius: 12px;
    font-size: 16px;
    text-align: center;
    padding: 10px;
    text-align: center;
    margin: 10px 0;
    
}
.single__login__input span{
    color: rgba(44, 44, 44, 1);
    font-size: 16px;
}
.login__form div span{
color: rgba(44, 44, 44, 1);
font-size: 16px;
}

.signin__right{
    background-color: rgba(222, 242, 252, 1);
    flex-basis: 50%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.signin__right img{
    width: 600px;
}



/* responsivness */
@media screen and (max-width:912px) {
    .signin__page{
     flex-direction: column;
     align-items: center;
     justify-content: center;
     width: 100vw;
     padding: 20px 30px;
    }
    .signin__right {
     display: none;
    }
 
    .signin__left .signin__left__header h2{
     font-size: 28px;
     margin-left: 25px;
    
    }
    .signin__left .signin__left__header p{
     margin-left: 25px;
 
    }
    .signin__left{
     width: 90vw;
     margin: auto;
     margin-left: -20px;
    }
    .single__login__input{
   width: 100%;
    }
    .signin__left .login__form .login__btn{
     width: 100%;
 margin-left: 10px;
    }
    .login__form{
     width: 300px;
    }
    .login__form div{
     margin: 10px;
    }
 }




/* responsivness */
@media screen and (max-width:368px) {
   .signin__page{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    padding: 20px 30px;
   }
   .signin__right {
    display: none;
   }

   .signin__left .signin__left__header h2{
    font-size: 22px;
    margin-left: 25px;
   
   }
   .signin__left .signin__left__header p{
    margin-left: 25px;

   }
   .signin__left{
    width: 90vw;
    margin: auto;
    margin-left: -20px;
   }
   .single__login__input{
  width: 90%;
   }
   .signin__left .login__form .login__btn{
    width: 90%;
margin-left: 10px;
   }
   .login__form{
    width: 300px;
   }
   .login__form div{
    margin: 10px;
   }
}


/* responsivness */
@media screen and (max-width:290px) {
    .signin__page{
     flex-direction: column;
     align-items: center;
     justify-content: center;
     width: 100vw;
     padding: 20px 30px;
    }
    .signin__right {
     display: none;
    }
 
    .signin__left .signin__left__header h2{
     font-size: 22px;
     margin-left: 30px;
    
    }
    .signin__left .signin__left__header p{
     margin-left: 30px;
 
    }
    .signin__left{
     width: 90vw;
     margin: auto;
     margin-left: 0px;
    }
    .single__login__input{
   width: 90%;
    }
    .signin__left .login__form .login__btn{
     width: 90%;
 margin-left: 10px;
    }
    .login__form{
     width: 90vw;
     margin: auto;
    }
    .login__form div{
     margin: 10px;
    }
 }